.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 180px;
    background-color: var(--bg-nav);
    transition: var(--transition); 
    box-sizing: border-box;
    padding: 10px 15px;
}

.sidebar.inactive {
    width: 100px;
}

.sidebar .top {
    position: relative;
}

.sidebar .logo {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}

.sidebar .logo img {
    max-width: 100%;
    max-height: 100%;
}

.sidebar .top .toggle-btn {
    position: relative;
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.sidebar.inactive .top .toggle-btn {
    right: -40px;
}

.sidebar .top .toggle-btn img {
    max-width: 100%;
    max-height: 100%;
}