@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #EFF1F6;
    --white-color: #fff;
    --black-color: #000;
    --bg-nav: #F8F9F9;
    --primary-color: #111D4A;
    --primary-light-color: #26356C;
    --secondary-color: #FFF8F0;
    --third-color: #757171;
    --transition: all 300s ease;
    --glass: rgba(255, 255, 255, 0.54);

}

.content {
  display: grid;
  grid-template-columns: 12rem auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--bg-color);
  color: var(--black-color); 
  
}
/* ========== GENERAL STYLES ============= */

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 2em;
}